body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
}

.card {
  background: #eaeaea;
  padding: 2em;
  border-radius: 2em;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}
